@font-face {
font-family: Pacifico;
src: url('../designer_shit/fonts/Pacifico.ttf');
font-family: Walkway SemiBold;
src: url('../designer_shit/fonts/Walkway SemiBold.ttf');
    
}
#title {
font-family:'Walkway SemiBold','Pacifico';
padding-top: 70px;
float:center;
text-align:center;
margin: auto;
background-color:#efefef;
}

#blurb {
padding-top:20px;
background-color:#ffffff;
float:center;
margin: auto;
text-align:justify;

}



#in{
font-family:'Arial';
font-weight:bold;
text-align:center;
margin: 0 auto;
background-color:#e3e3e3;

}

.container{
text-align: justify;
float: center;
margin-left: 20%;
float: center;
}


.span3 {

float: left;
margin: 10px; 
}

.table{
background-color:#efefef;
}

#bah {

text-align:center;
margin: 0 auto;
}



table{

text-align:center;
margin:0 auto;

}

#hah{
text-align:right;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
 
}

.dream {

	margin-left: 33%;
	margin-top: 20%;

}