@font-face {
font-family: Pacifico;
src: url('../designer_shit/fonts/Pacifico.ttf');
font-family: Walkway SemiBold;
src: url('../designer_shit/fonts/Walkway SemiBold.ttf');
    
}
#title {
font-family:'Walkway SemiBold','Pacifico';
padding-top: 70px;
float:center;
text-align:center;
margin: auto;
#background-color:#efefef;
}

#blurb {
padding-top:20px;
#background-color:#ffffff;
float:center;
margin: auto;
text-align:justify;

}



#in{
font-family:'Arial';
font-weight:bold;
text-align:center;
margin: 0 auto;
background-color:#e3e3e3;

}



.span3 {

float: left;
margin: 10px; 
}

.table{
background-color:#efefef;
}

#oop.table{
background-color:transparent;
border-top:none;
position:relative;
}

#bah {

text-align:center;
margin: 0 auto;
}



table{

text-align:center;
margin:0 auto;
margin-bottom:30px;

}
#oop.table td
{
border:none;
font-weight:bold;
text-align: center;   
}

#hah{
text-align:right;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
 
}

h2{
font-family:'Pacifico';
text-align:center;

}

.data {

padding-top:50px;

}

.hey{
background-color:#96dacd;


}