@font-face {
font-family: Pacifico;
src: url('../designer_shit/fonts/Pacifico.ttf');
font-family: Walkway SemiBold;
src: url('../designer_shit/fonts/Walkway SemiBold.ttf');
    
}

#herp {
background-color:#91dace;
padding:5px;
height:100px;
padding-left:20px;
}

.hero-unit{
padding:5px;
height:100px;
padding-left:20px;
}

.hero-unit h1 {
	font-family: 'Pacifico','Walkway SemiBold';
	font-size: 190px;
	color:#000000;
	
	
}

.hero-unit p{
	font-size: 20px;
	color: #fff000;
	font-family:'Walkway SemiBold','Pacifico';
	
	
}

#omg
{
color:#ffffff;
}